@import url('https://fonts.googleapis.com/css?family=Lato');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  color: #444;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
.moreInfo {
  text-align: center;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

#chart {
  display: block;
  margin: auto;
}

.tooltip {
  background-color: rgba(#444,.9);
  border-radius: 2px;
  color: #eee;
  padding: 10px;
  transition: opacity ease-in-out .15s;
  width: 150px;

  p {
    margin: .5em 0;
    text-align: center;
  }

  &-date {
    font-weight: bold;
    margin-top: 0;
  }

  &-variance {
    font-size: .8em;
    margin-bottom: 0;
  }
}

footer {
  font-size: .9em;
  text-align: center;
}
