body {
  color: #444;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#chart {
  display: block;
  margin: auto;
}

.tooltip {
  background-color: rgba(#444,.9);
  border-radius: 2px;
  color: #eee;
  padding: 10px;
  width: 150px;

  p {
    margin: .5em 0;
    text-align: center;
  }

  &-date {
    font-weight: bold;
    margin-top: 0;
  }

  &-variance {
    font-size: .8em;
    margin-bottom: 0;
  }
}
